/* hover effects can be added */

#form{
  background-color:lightgreen;
}
#form:hover{
  background-color:;

}
#quote{
  background-color:lightblue;
  font-family: 'Laila', serif;
}
#quote:hover{
  background-color:;

}
h1{
  font-family: 'Shojumaru', cursive;
}

h3{
  font-family: 'Dancing Script', cursive;
color:lightblue;
}
