<div class="container-fluid">
    <div class="row">
        <form>
            <div class="form-group">

                <label for="name">Quote</label>
                <input type="text" required class="form-control" id="name">

            </div>
            <div class="form-group">

                <label for="description">Author</label>
                <textarea class="form-control" id="description" rows="4" required></textarea>

            </div>
            <div class="form-group">
                <label for="complete">Submitted by:</label>
                <input type='text' id="name" required>

            </div>
        </form>
    </div>
</div>
